$color-1: #6E1CFF;
$color-2: #4359D9;
$color-3: #56BAF0;
$color-4: #43D9C0;
$color-5: #30FC6D;

$color-black: #000029;
$color-white: #FFFFFF;

/* Devices */
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;